.dropdown {
  margin-bottom: 20px;
  min-width: 200px;
  box-sizing: border-box;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.2em;
  margin: 5px;
}
